<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>excel book</title>
</head>
<body>
 
    <%- include('layout/partials/header') %>

    <div class="container py-5">
        <div class="row">
            <div clas="col-lg-6 mx-auto mt-4">
                <div class="card shadow">
                    <div class="card-header bg-primary">
                        <h5 class="text-light">GET Excel Book</h5>
                    </div>
                    <div class="card-body p-4">
                        <form action="/export-excel" method="get">
                       
                        <button type="submit">Download Excel</button>
                    </div>
                </form>
</div>
</div>
</div>
    </div>



  
    
    
    
 

    
      
    <%- include('layout/partials/footer') %>
 